
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to all authenticated users
    allow read: if request.auth != null;

    // Products collection
    match /products/{productId} {
      // Allow write access to authenticated users
      allow create, update, delete: if request.auth != null;
    }
  }
}
